main{
    font-family: 'Comfortaa', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
   

    border: 2px solid black;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;


}
h1{
    font-size: 2.5em;
}
header{
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
section{
    display: flex;
}

.form-panel{
    
    width: 50%;
    height: 50vh;
    border-right: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.list-panel{
    
    width: 50%;
    height: 50vh;
}
.items-form input, .items-form button{
   width: 60%;
   margin-left: 20%;
    margin-top: 20px;
    font-size: 1.2em


}
.items-form input{
    border-width: 0 0 2px 0;
}
.item {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
} 
.delete-item {
    background-color: #006519;
    border: none;
    color: #ffffff;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
  }